<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>

    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <h1>{{title}}</h1>

    <img src="./img/me.jpg" alt="Me" width="500" height="500" />

    <p>Created by {{name}}</p>

</body>

</html>